* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.detail-button-div {
  display: flex;
  justify-content: center;
}

.detail-button {
  padding: 0.8rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  cursor: pointer;
  background-color: #1fc1c3;
  color: #FFFFFF;
  border: 0;
  margin: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.detail-button:hover {
  background-color: #17acad;
}

nav {
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  z-index: 100;
  margin-top: 80px;
  left: -103%;
  transition: all 0.5s;
  background-color: #0a253b;
}
@media (max-width: 992px) {
  nav {
    height: 90vh;
  }
}
nav ul {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 100%;
  transition: all 0.5s;
}
nav ul #contact-btn {
  padding-bottom: 100px;
}
@media (max-width: 992px) {
  nav ul #contact-btn {
    padding-bottom: 30px;
  }
}
nav ul li {
  list-style-type: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
  color: #FFFFFF;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
nav ul li a:hover {
  color: #1fc1c3;
}

.toggle-style {
  left: 0;
  transition: all 0.5s;
}

.nav-open {
  overflow-y: hidden;
}

#top-nav {
  position: relative;
  z-index: 1;
  background-color: #0a253b;
}
#top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: relative;
}
#top-nav .container #contacts-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media (max-width: 992px) {
  #top-nav .container #contacts-top {
    flex-direction: column;
  }
}
#top-nav .container #contacts-top .phone-card {
  display: flex;
}
#top-nav .container #contacts-top .phone-card:hover {
  cursor: pointer;
}
#top-nav .container #contacts-top .phone-card ion-icon {
  color: #FFFFFF;
  margin-right: 5px;
  font-size: 1rem;
}
@media (max-width: 992px) {
  #top-nav .container #contacts-top .phone-card ion-icon {
    display: none;
  }
}
#top-nav .container #contacts-top .phone-card p {
  color: #FFFFFF;
  font-size: 1rem;
}
@media (max-width: 992px) {
  #top-nav .container #contacts-top .phone-card p {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  #top-nav .container #contacts-top .phone-card {
    display: none;
  }
}
#top-nav .container #logo {
  position: relative;
  margin: auto;
}
#top-nav .container #logo a {
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #1fc1c3;
  color: #FFFFFF;
  padding: 0.5rem 1rem;
}
#top-nav .container #logo a:hover {
  cursor: pointer;
}
@media (max-width: 992px) {
  #top-nav .container #logo a {
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
}
#top-nav .container #menu-btn {
  color: #FFFFFF;
  font-size: 3rem;
  width: 5%;
  position: absolute;
  right: 0;
}
#top-nav .container #menu-btn:hover {
  cursor: pointer;
}

#home-page header {
  display: flex;
  position: relative;
  height: 100vh;
  margin-top: -5rem;
}
#home-page header .title {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-page header .title p,
#home-page header .title h1,
#home-page header .title h2 {
  color: #FFFFFF;
}
#home-page header .title h1,
#home-page header .title h2 {
  color: #FFFFFF;
  text-align: center;
}
#home-page header .title h1 {
  font-size: 4.5rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  #home-page header .title h1 {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  #home-page header .title h1 {
    font-size: 2.5rem;
  }
}
#home-page header .title h2 {
  font-size: 3rem;
}
@media (max-width: 992px) {
  #home-page header .title h2 {
    font-size: 1.5rem;
  }
}
#home-page header .title p {
  font-size: 1.2rem;
}
@media (max-width: 992px) {
  #home-page header .title p {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
#home-page header .picture1 p,
#home-page header .picture3 p {
  width: 100%;
  text-align: center;
}
@media (max-width: 992px) {
  #home-page header .picture1 p,
  #home-page header .picture3 p {
    width: 80%;
  }
}
#home-page header .picture1 p {
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  #home-page header .picture1 p {
    margin-bottom: 0;
  }
}
#home-page header .picture2 p {
  width: 50%;
  text-align: end;
}
@media (max-width: 992px) {
  #home-page header .picture2 p {
    text-align: center;
    width: 100%;
  }
}
#home-page header .header-btns {
  margin-top: 2rem;
}
#home-page header .header-btns .find-more {
  margin: 1rem;
}
@media (max-width: 992px) {
  #home-page header .header-btns .find-more {
    margin: 0.5rem;
  }
}
#home-page header .header-btns .contact-us {
  padding: 0.675rem 1.25rem;
  border-radius: 0.25rem;
  margin: 1rem;
  border: 2px solid #fff;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
#home-page header .header-btns .contact-us:hover {
  background-color: #e2e8f0;
  border-color: #e2e8f0;
  color: #000;
}
@media (max-width: 992px) {
  #home-page header .header-btns .contact-us {
    margin: 0.5rem;
  }
}
@media (max-width: 992px) {
  #home-page header .header-btns {
    display: flex;
  }
}
@media (max-width: 576px) {
  #home-page header .header-btns {
    flex-direction: column;
  }
}
#home-page header .picture1,
#home-page header .picture2,
#home-page header .picture3 {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
#home-page header .picture1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/pic1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#home-page header .picture2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../images/pic2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  #home-page header .picture2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pic2.jpg);
  }
}
#home-page header .picture2 div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media (max-width: 992px) {
  #home-page header .picture2 div {
    margin: 1rem auto;
    align-items: center;
  }
}
#home-page header .picture2 div .title h1 {
  text-align: end;
}
@media (max-width: 992px) {
  #home-page header .picture2 div .title h1 {
    text-align: center;
  }
}
#home-page header .picture2 div .header-btns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
@media (max-width: 992px) {
  #home-page header .picture2 div .header-btns {
    justify-content: center;
  }
}
#home-page header .picture3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pic3.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  #home-page header .picture3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pic3.jpg);
  }
}
#home-page header .picture3 div {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  #home-page header .picture3 div {
    margin: 1rem auto;
  }
}
#home-page header .picture3 div .title h1 {
  text-align: start;
}
@media (max-width: 992px) {
  #home-page header .picture3 div .title h1 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  #home-page header .picture3 div .title {
    width: 100%;
  }
}
#home-page header .picture3 div .header-btns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#home-page header .active {
  display: flex;
}
#home-page header #prev,
#home-page header #next {
  position: absolute;
  color: #FFFFFF;
  padding: 0 2rem;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: 0;
  height: 50px;
  display: flex;
  align-items: center;
  top: 47%;
}
#home-page header #prev {
  left: 0;
}
#home-page header #next {
  right: 0;
}
#home-page header #pic1,
#home-page header #pic2,
#home-page header #pic3 {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
}
#home-page header #pic1 {
  margin: 0 -20px;
  background-color: #FFFFFF;
}
#home-page header #pic2 {
  margin: 0;
  background-color: #A0937D;
}
#home-page header #pic3 {
  margin: 0 20px;
  background-color: #A0937D;
}

#content #about {
  padding-top: 3rem;
}
#content #about h2 {
  text-align: center;
  color: #000;
  font-size: 3rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  #content #about h2 {
    font-size: 2.3rem;
  }
}
#content #about p {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
@media (max-width: 576px) {
  #content #about p {
    font-size: 1rem;
  }
}
#content #about #about-cards {
  display: flex;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #content #about #about-cards {
    flex-direction: column;
  }
}
#content #about #about-cards .card {
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin: auto 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
  background-color: #0a253b;
}
#content #about #about-cards .card h3 {
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media (max-width: 576px) {
  #content #about #about-cards .card h3 {
    font-size: 1.2rem;
  }
}
#content #about #about-cards .card p {
  color: #FFFFFF;
  padding: 0;
  font-size: 1rem;
}
@media (max-width: 992px) {
  #content #about #about-cards .card {
    margin: 0.75rem 0;
  }
}
#content #about .services-card {
  padding: 3rem 0;
  margin-top: 3rem;
  background-color: #0a253b;
}
#content #about .services-card .container h2 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  #content #about .services-card .container h2 {
    margin-bottom: 2rem;
  }
}
#content #about .services-card .container .services-cards {
  display: flex;
  margin-bottom: 1rem;
}
#content #about .services-card .container .services-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin: auto 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
  background-color: #FFFFFF;
}
#content #about .services-card .container .services-cards .card img {
  width: 100%;
  padding: 0.25rem;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 0.375rem;
}
#content #about .services-card .container .services-cards .card h3 {
  font-size: 1.5rem;
  margin-top: 1.2rem;
}
#content #about .services-card .container .services-cards .card p {
  text-align: center;
}
@media (max-width: 992px) {
  #content #about .services-card .container .services-cards .card {
    margin: 0.75rem 0;
  }
}
@media (max-width: 992px) {
  #content #about .services-card .container .services-cards {
    flex-direction: column;
  }
}

#gallery {
  padding: 3rem 0;
}
#gallery h2 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #gallery h2 {
    font-size: 2.3rem;
  }
}
#gallery p {
  text-align: center;
  margin-bottom: 2rem;
}
#gallery #gallery-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#gallery #gallery-cards img {
  width: 45%;
  margin: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
}
@media (max-width: 992px) {
  #gallery #gallery-cards img {
    width: 100%;
  }
}
#gallery .detail-button-div {
  margin-top: 1rem;
}

#testimonials {
  padding: 3rem 0;
  background-color: rgb(33, 37, 41);
}
#testimonials h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 3rem;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  #testimonials h2 {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }
}
#testimonials .testimonials-cards {
  display: flex;
}
#testimonials .testimonials-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 0.375rem;
  margin: auto 0.75rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
  background-color: #FFFFFF;
}
#testimonials .testimonials-cards .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#testimonials .testimonials-cards .card h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
@media (max-width: 992px) {
  #testimonials .testimonials-cards .card {
    margin: 0.75rem 0;
  }
}
@media (max-width: 992px) {
  #testimonials .testimonials-cards {
    flex-direction: column;
  }
}

#contact {
  padding: 3rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/contact-section-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact h2 {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #contact h2 {
    font-size: 2.3rem;
  }
}
#contact p {
  text-align: center;
  width: 75%;
  margin: 0 auto 1rem auto;
  font-size: 1.2rem;
}
@media (max-width: 992px) {
  #contact p {
    width: 100%;
    margin: 1rem auto;
    font-size: 1rem;
  }
}
#contact h2,
#contact p {
  color: #212529;
}
#contact #big-contact {
  display: flex;
  flex-wrap: wrap;
}
#contact #big-contact .contact-card {
  display: flex;
  margin: 1rem 0;
  width: 25%;
  padding-left: 20%;
}
#contact #big-contact .contact-card ion-icon {
  color: #0a253b;
  margin-right: 5px;
}
@media (max-width: 992px) {
  #contact #big-contact .contact-card {
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
}

#about-page {
  width: 100%;
  margin: auto;
}
#about-page header {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/about-page-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#about-page header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-page header .container h1,
#about-page header .container p {
  color: #FFFFFF;
  text-align: center;
}
#about-page header .container h1 {
  font-size: 5rem;
}
@media (max-width: 992px) {
  #about-page header .container h1 {
    font-size: 2.5rem;
  }
}
#about-page header .container p {
  font-size: 1.2rem;
  width: 75%;
}
@media (max-width: 992px) {
  #about-page header .container p {
    font-size: 1rem;
    width: 100%;
  }
}
#about-page #about-content .about-intro {
  padding: 3rem 0;
}
#about-page #about-content h2 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
@media (max-width: 992px) {
  #about-page #about-content h2 {
    font-size: 2.3rem;
  }
}
#about-page #about-content .about-intro p:first-of-type {
  margin-bottom: 1.5rem;
}
#about-page #about-content .about-intro .container {
  display: flex;
}
@media (max-width: 992px) {
  #about-page #about-content .about-intro .container {
    display: block;
  }
}
#about-page #about-content .about-intro .container div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  #about-page #about-content .about-intro .container div {
    width: 100%;
  }
}
#about-page #about-content .about-intro .container div p {
  font-size: 1.2rem;
}
@media (max-width: 992px) {
  #about-page #about-content .about-intro .container div p {
    font-size: 1rem;
  }
}
#about-page #about-content .about-intro .container div a {
  margin-top: 1.7rem;
}
#about-page #about-content .about-intro .container div img {
  width: 75%;
}
@media (max-width: 992px) {
  #about-page #about-content .about-intro .container div img {
    margin-top: 2rem;
    width: 50%;
  }
}
#about-page #about-content .services-card {
  padding: 5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/skills.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-page #about-content .services-card h2 {
  color: #FFFFFF;
}
#about-page #about-content .services-card ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
#about-page #about-content .services-card ul li {
  width: 25%;
  font-size: 1.2rem;
  padding-top: 1.5rem;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  #about-page #about-content .services-card ul li {
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
}
#about-page #about-content .services-card ul li ion-icon {
  color: #1fc1c3;
  margin-right: 5px;
}
#about-page #about-content #testimonials {
  background-color: #FFFFFF;
}
#about-page #about-content #testimonials h2 {
  margin-bottom: 2rem;
}
#about-page #about-content #testimonials .card {
  background-color: rgb(33, 37, 41);
}
#about-page #about-content #testimonials .card h3,
#about-page #about-content #testimonials .card p {
  color: #FFFFFF;
}

#gallery-page header {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/gallery-page-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#gallery-page header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery-page header .container h1,
#gallery-page header .container p {
  color: #FFFFFF;
  text-align: center;
}
#gallery-page header .container h1 {
  font-size: 5rem;
}
@media (max-width: 992px) {
  #gallery-page header .container h1 {
    font-size: 2.5rem;
  }
}
#gallery-page header .container p {
  font-size: 1.2rem;
  width: 75%;
}
@media (max-width: 992px) {
  #gallery-page header .container p {
    font-size: 1rem;
    width: 100%;
  }
}
#gallery-page h3 {
  text-align: center;
  font-size: 3rem;
  color: #000;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  #gallery-page h3 {
    font-size: 2.3rem;
  }
}
#gallery-page p {
  margin-bottom: 1rem;
}
#gallery-page .done-projects {
  background-color: rgb(33, 37, 41);
}
#gallery-page .done-projects h3,
#gallery-page .done-projects p {
  color: #FFFFFF;
}
#gallery-page .works-in-progress,
#gallery-page .done-projects {
  padding: 3rem 0;
}
#gallery-page #gallery-page-card,
#gallery-page #gallery-page-done {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}
#gallery-page #gallery-page-card img,
#gallery-page #gallery-page-done img {
  width: 45%;
  margin: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.15);
}
@media (max-width: 992px) {
  #gallery-page #gallery-page-card img,
  #gallery-page #gallery-page-done img {
    width: 100%;
  }
}

#contact-page header {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/contact-page-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
#contact-page header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-page header .container h1,
#contact-page header .container p {
  color: #FFFFFF;
  text-align: center;
}
#contact-page header .container h1 {
  font-size: 5rem;
}
@media (max-width: 992px) {
  #contact-page header .container h1 {
    font-size: 2.5rem;
  }
}
#contact-page header .container p {
  font-size: 1.2rem;
  width: 75%;
}
@media (max-width: 992px) {
  #contact-page header .container p {
    font-size: 1rem;
    width: 100%;
  }
}
#contact-page h2 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
@media (max-width: 992px) {
  #contact-page h2 {
    font-size: 2.3rem;
  }
}
#contact-page .contact-form {
  padding: 3rem 0;
  background-color: rgb(248, 249, 250);
}
#contact-page .contact-form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-page .contact-form .container p {
  width: 75%;
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  #contact-page .contact-form .container p {
    width: 100%;
  }
}
#contact-page .contact-form .container form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 576px) {
  #contact-page .contact-form .container form {
    width: 100%;
  }
}
#contact-page .contact-form .container form input,
#contact-page .contact-form .container form textarea {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #dee2e6;
  margin: 0.5rem 0;
  outline: 0;
  border-radius: 0.375rem;
}
#contact-page .contact-form .container form button {
  margin: auto;
  margin-top: 1rem;
}
#contact-page #contact-details {
  padding: 3rem 0;
}
#contact-page #contact-details .container {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 576px) {
  #contact-page #contact-details .container {
    flex-direction: column;
  }
}
#contact-page #contact-details #contact-cards .contact-card {
  display: flex;
  padding: 0.5rem;
}
#contact-page #contact-details #contact-cards .contact-card ion-icon {
  color: #1fc1c3;
  margin-right: 5px;
}
#contact-page #contact-details #contact-cards .contact-card a {
  text-decoration: none;
  color: #000000;
}
#contact-page #contact-details #contact-cards .contact-card a:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  #contact-page #contact-details #office-hours {
    margin-top: 1rem;
  }
}
#contact-page #contact-details #office-hours h3 {
  padding: 0.5rem;
}
#contact-page #contact-details #office-hours ul {
  list-style-type: none;
}
#contact-page #contact-details #office-hours ul li {
  padding: 0.5rem;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #0a253b;
}
footer p {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */