// colors variables
$primary-color: #fff;
$secondary-color: #A0937D;
// $third-color: #005441;
$third-color: #fd0;
$fourth-color: #2A2E34;
$fifth-color: #003566;
$sixth-color: #F2EDD7;
$seventh-color: rgba(33,37,41, 1);

// responsive
$mobile: 992px;