// colors variables
$primary-color: #FFFFFF;
$secondary-color: #A0937D;
$seventh-color: rgba(33,37,41, 1);

$blue-color: #0a253b;
$blue-sky-color: #1fc1c3;
$black-color: #212529;

// responsive
$mobile: 992px;
$phone: 576px;