// colors variables
$primary-color: #FFFFFF;
$secondary-color: #A0937D;
// $third-color: #14532d;
// $fourth-color: #ef4444;
// $fifth-color: #f87171;
$sixth-color: #F2EDD7;
$seventh-color: rgba(33,37,41, 1);
// $eighth-color: #15803d;

$blue-color: #0a253b;
$blue-sky-color: #1fc1c3;
$black-color: #212529;

// responsive
$mobile: 992px;
$phone: 576px;