@import './variables';
@import './resets';
@import './mixins';

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 100vh;
    width: 10vw;
    position: fixed;
    background-color: $third-color;

    ul {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    li {
        list-style-type: none;
        transform: rotate(270deg);
        cursor: pointer;
        font-size: 1.3rem;
        white-space: nowrap;
        padding: auto;
        color: $sixth-color;
        text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

        &:hover {
            color: $fourth-color;           
        }
    }
}

.container {
    margin-left: 10vw;
    min-height: 100vh;
    position: relative;

    #top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        background-color: $third-color;

        #contacts-top {
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                flex-direction: column;
            }

            .phone-card {
                display: flex;
                margin: 0 1.5rem;

                &:hover {
                    cursor: pointer;
                }

                ion-icon {
                    margin-right: 5px;
                    color: $primary-color;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

                    &:hover {
                        color: $fourth-color;
                    }

                    @include mobile {
                        font-size: 0.9rem;
                    }
                }

                p {
                    color: $primary-color;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

                    &:hover {
                        color: $fourth-color;
                    }

                    @include mobile {
                        font-size: 0.9rem;
                    }
                }

                @include mobile {
                    margin: 0 0.5rem;
                }
            }

            .contacts-card {
                ion-icon {
                    color: $primary-color;

                    &:hover {
                        color: $fourth-color;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
              
            }
        }

        h1 {
            font-family: 'Inknut Antiqua', serif;
            background: -webkit-linear-gradient(#eee, $fourth-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 1.5rem;
            text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

            &:hover {
                background: -webkit-linear-gradient(#eee, $sixth-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                cursor: pointer;
            }

            @include mobile {
                font-size: 1.2rem;
            }
        }
    }

    #full-content {
        min-height: 100vh;
        position: relative;

        header {
            display: flex;
            position: relative;
            height: 100vh;
    
            .title {
                width: 80%;
    
                p,
                h2 {
                    color: $primary-color;
                    text-align: center;
                }
                
                h2 {
                    font-size: 4rem;
                    text-transform: uppercase;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
    
                    @include mobile {
                        font-size: 2rem;
                    }
                }
                
                p {
                    font-size: 3rem;
    
                    @include mobile {
                        font-size: 1.5rem;
                    }
                }
                
                .title-paragraph {
                    @include mobile {
                        display: none;
                    }
                }
            }

            .header-btns {

                .find-more {
                    width: 10rem;
                    height: 2.5rem;
                    margin: 1rem;
                    border: 0;
                    cursor: pointer;
                    background-color: $primary-color;
                    color: $third-color;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

                    @include mobile {
                        margin: 0.5rem;
                    }
                }
                
                .find-more:hover {
                    background-color: $sixth-color;
                }
    
                .contact-us {
                    width: 10rem;
                    height: 2.5rem;
                    margin: 1rem;
                    border: 2px solid $sixth-color;
                    cursor: pointer;
                    background-color: transparent;
                    color: $sixth-color;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

                    @include mobile {
                        margin: 0.5rem;
                    }
                }
    
                .contact-us:hover {
                    background-color: $sixth-color;
                    color: $third-color;
                }

                @include mobile {
                    display: flex;
                    flex-direction: column;
                }
            }

    
            .picture1,
            .picture2,
            .picture3 {
                width: 100%;
                height: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            
            .picture1 {
                background-image: linear-gradient(rgba(0, 84, 65,  0.7), rgba(0, 84, 65,  0.7)), url(../images/pic1.jpg);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size:  cover;
            }
            
            .picture2 {
                background-image: linear-gradient(rgba(0, 84, 65,  0.7), rgba(0, 84, 65,  0.7)), url(../images/pic2.jpg);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .picture3 {
                background-image: linear-gradient(rgba(0, 84, 65,  0.7), rgba(0, 84, 65,  0.7)), url(../images/pic3.jpg);
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .active {
                display: flex;
            }
            
            #prev,
            #next {
                position: absolute;
                color: $primary-color;
                padding: 0 1rem;
                font-size: 3rem;
                cursor: pointer;
                background: none;
                border: 0;
                height: 50px;
                display: flex;
                align-items: center;
                top: 47%;

                &:hover {
                    color: $sixth-color;
                }

                @include mobile {
                    font-size: 2rem;
                }
            }
            
            #prev {
                left: 0;
            }
            
            #next {
                right: 0;
            }
            
            #pic1,
            #pic2,
            #pic3 {
                position: absolute;
                left: 50%;
                bottom: 10px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                cursor: pointer;
                border: 0;
            }
            
            #pic1 {
                margin: 0 -20px;
                background-color: $primary-color;
            }
            
            #pic2 {
                margin: 0;
                background-color: $fifth-color;
            }
            
            #pic3 {
                margin: 0 20px;
                background-color: $fifth-color;
            }
        }
    
        #content {
            width: 100%;
    
            #about {
                padding: 3rem 0;
    
                h2 {
                    text-align: center;
                    color: $third-color;
                    font-size: 3rem;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

                    @include mobile {
                        font-size: 2rem;
                    }
                }
    
                p {
                    text-align: center;
                    padding-top: 1rem;
                    padding-bottom: 2rem;
                    font-size: 1.2rem;
                }
        
                #about-cards {
                    display: flex;
    
                    @include mobile {
                        flex-direction: column;
                    }
        
                    .card {
                        padding: 1rem;
        
                        h3 {
                            text-align: center;
                            color: $third-color;
                            font-size: 1.5rem;                   
                        }
                    }
                }
    
                .services-card {
                    padding: 2rem 0;
                    background-color: $third-color;

                    h2 {
                        color: $primary-color;
                        text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                    }
    
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        list-style-type: none;
        
                        li {
                            width: 25%;
                            font-size: 1.2rem;
                            padding-left: 20%;
                            padding-top: 1.5rem;
                            color: $primary-color;

                            @include mobile {
                                width: 100%;
                                padding-left: 30%;
                            }
    
                            ion-icon {
                                color: $primary-color;                           
                                margin-right: 5px;
                            }                   
                        }
                    }
                }
    
            }
    
        }
        
        #gallery {
            h2 {
                color: $third-color;
                text-align: center;
                font-size: 3rem; 
                margin: 3rem 0;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                
                @include mobile {
                    font-size: 2rem;
                }
            }
    
            #gallery-cards {
                display: flex;
                flex-wrap: wrap;
    
                img {
                    width: 50%;
    
                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }
    
        #contact {
    
            h2 {
                color: $third-color;
                font-size: 3rem;
                text-align: center;
                margin: 2rem 0;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                
                @include mobile {
                    font-size: 2rem;
                }
            }
    
            #big-contact {
    
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                margin: auto;
        
                .contact-card {
                    display: flex;
                    margin: 1rem 0;
                    width: 25%;
                    padding-left: 20%;
        
                    ion-icon {
                        color: $third-color;
                        margin-right: 5px;       
                    }
                    
                    @include mobile {
                        width: 100%;
                        padding-left: 0;
                        justify-content: center;
                    }
                }
            }
        }

        .detail-button-div {
            display: flex;
            justify-content: center;
            margin: 1rem;
            
            .detail-button {
                width: 10rem;
                height: 2.5rem;
                cursor: pointer;
                background-color: $fifth-color;
                color: $primary-color;
                border: 0;
                margin: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
                &:hover {
                    background-color: $fourth-color;
                    color: $third-color;
                }
            }
        }


        #about-page {
            width: 100%;
            margin: auto;

            #about-content {

                padding-bottom: 2.5rem;
                
                            h2 {
                                color: $third-color; 
                                text-align: center;
                                font-size: 4rem;
                                margin: 2rem 0;
                                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                                
                                @include mobile {
                                    font-size: 2rem;
                                }
                            }
                
                            .about-paragraph {
                                font-size: 1.2rem;
                                margin: 1rem auto;
                                width: 80%;       
                            }
                
                            .services-card {
                                padding: 2rem 0;
                                background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/skills.jpg);
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                margin: 4rem 0;
                
                                h2 {
                                    color: $primary-color;
                                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                                }
                
                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    list-style-type: none;
                                    padding-bottom: 4rem;
                    
                                    li {
                                        width: 25%;
                                        font-size: 1.2rem;
                                        padding-left: 20%;
                                        padding-top: 1.5rem;
                                        color: $primary-color;

                                        @include mobile {
                                            width: 100%;
                                            padding-left: 30%;
                                        }

                                        ion-icon {
                                            color: $primary-color;                           
                                            margin-right: 5px;
                                        }                   
                                    }
                                }
                            }
                
                            #testimonials {
                                width: 80%;
                                margin: auto;
                                padding-bottom: 5rem;

                                h2 {
                                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                                }
                
                                .testimonial-card {
                                    margin: 2rem 0;
                                }
                            }

            }

            footer {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }

        #gallery-page {

            h2 {
                color: $third-color; 
                text-align: center;
                font-size: 4rem;
                margin: 2rem 0;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                
                @include mobile {
                    font-size: 2rem;
                }
            }

            h3 {
                text-align: center;
                font-size: 2.5rem;
                color: $third-color;
                margin: 2rem 0;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);

                @include mobile {
                    font-size: 1.5rem;
                }
            }

            #gallery-page-card,
            #gallery-page-done {
                display: flex;
                flex-wrap: wrap;
    
                img {
                    width: 50%;
    
                    @include mobile {
                        width: 100%;
                    }
                }
            }
        }

        #contact-page {
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                color: $third-color; 
                text-align: center;
                font-size: 4rem;
                margin: 2rem 0;
                text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                
                @include mobile {
                    font-size: 2rem;
                }
            }

            #contact-details {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                #contact-cards {
                    margin: 2rem 0;
    
                    .contact-card {
                        display: flex;
                        padding: 0.5rem;
    
                        ion-icon {
                            color: $third-color;
                            margin-right: 5px;                   
                        }               
                    }            
                }

                #office-hours {
                    margin: 2rem 0;

                    h3 {
                        padding: 0.5rem;
                    }

                    ul {
                        list-style-type: none;

                        li {
                            padding: 0.5rem;
                        }
                    } 
                }
            }

            
            form {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding-bottom: 8rem;

                input,
                textarea,
                button {
                    padding: 5px;
                    margin: 0.5rem 0;
                    outline: 0;
                }

                button {
                    width: 10rem;
                    height: 2.5rem;
                    cursor: pointer;
                    background-color: $fifth-color;
                    color: $primary-color;
                    border: 0;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: auto;
                    text-shadow: 1px 1px rgba(14, 30, 37, 0.32);
                    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

                    &:hover {
                        background-color: $fourth-color;
                        color: $third-color;
                    }
                }
            }

            footer {
                width: 100%;
                position: absolute;
                bottom: 0;
            }
        }    
    }   

    footer {
        text-align: center;
        padding: 30px 0;
        background-color: $third-color;

        p {
            color: $primary-color;
        }
    }
}