@import './variables';
@import './resets';
@import './mixins';

// $blue-color: #0a253b;
// $blue-sky-color: #1fc1c3;

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: auto;

    @include phone {
        width: 90%;
    }
}

.detail-button-div {
    display: flex;
    justify-content: center;
}

.detail-button {
    padding: 0.8rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    // font-weight: bold;
    cursor: pointer;
    background-color: $blue-sky-color;
    // background-color: $fourth-color;
    color: $primary-color;
    border: 0;
    margin: 1rem;
    // text-transform: uppercase;
    text-transform: capitalize;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    &:hover {
        background-color: #17acad;
        // background-color: $fifth-color;
    }
}

nav {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: 100;
    margin-top: 80px;
    left: -103%;
    transition: all .5s;
    background-color: $blue-color;

    // @include background-color-mix;

    @include mobile {
        height: 90vh;
    }

    ul {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        left: 100%;
        transition: all .5s;

        #contact-btn {
            padding-bottom: 100px;

            @include mobile {
                padding-bottom: 30px;
            }
        }

        li {
            list-style-type: none;
            cursor: pointer;
            font-size: 1.5rem;
            // font-weight: bold;
            font-weight: 500;
            white-space: nowrap;
            color: $primary-color;
            text-transform: uppercase;
    
            a {
                text-decoration: none;
                color: $primary-color;

                &:hover {
                    color: $blue-sky-color;
                    // color: $fourth-color;
                }
            }
        }
    }
}

.toggle-style {
    left: 0;
    transition: all .5s;
}

#top-nav {
    // @include background-color-mix;
    position: relative;
    z-index: 1;
    background-color: $blue-color;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        position: relative;

        #contacts-top {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
    
            @include mobile {
                flex-direction: column;
            }
    
            .phone-card {
                display: flex;
    
                &:hover {
                    cursor: pointer;
                }
    
                ion-icon {
                    color: $primary-color;
                    margin-right: 5px;
                    font-size: 1rem;
    
                    @include mobile {
                        display: none;
                    }
                }
    
                p {
                    color: $primary-color;
                    font-size: 1rem;
    
                    @include mobile {
                        font-size: 0.9rem;
                    }
                }
    
                @include phone {
                    display: none;
                }
            }
        }
    
        #logo {
            position: relative;
            margin: auto;
    
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
                background-color: $blue-sky-color;
                // background-color: $fourth-color;
                color: $primary-color;
                padding: 0.5rem 1rem;
    
                &:hover {
                    cursor: pointer;
                }
    
                @include mobile {
                    font-size: 1.3rem;
                    margin-right: 0.5rem;
                }
            }
        }
    
        #menu-btn {
            color: $primary-color;
            font-size: 3rem;
            width: 5%;
            position: absolute;
            right: 0;
    
            &:hover {
                cursor: pointer;
            }
        }
    }
}

#home-page {
    header {
        display: flex;
        position: relative;
        height: 100vh;
        margin-top: -5rem;
        
        .title {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        
            p,
            h1,
            h2 {
                color: $primary-color;
            }

            h1,
            h2 {
                color: $primary-color;
                text-align: center;
            }
                    
            h1 {
                font-size: 4.5rem;
                text-transform: capitalize;
                // text-transform: uppercase;
        
                @include mobile {
                    font-size: 3rem;
                }
    
                @include phone {
                    font-size: 2.5rem;
                }
            }

            h2 {
                font-size: 3rem;

                @include mobile {
                    font-size: 1.5rem;
                }
            }
                    
            p {
                font-size: 1.2rem;
        
                @include mobile {
                    font-size: 1rem;
                    margin-top: 1rem;
                }
            }
                    
            // .title-paragraph {
            //     @include mobile {
            //         display: none;
            //     }
            // }
        }

        .picture1,
        .picture3 {
            p {
                width: 100%;
                text-align: center;

                @include mobile {
                    width: 80%;
                }
            }
        }

        .picture1 {
            p {
                margin-bottom: 2rem;

                @include mobile {
                    margin-bottom: 0;
                }
            }
        }

        .picture2 {
            p {
                width: 50%;
                text-align: end;

                @include mobile {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    
        .header-btns {
            margin-top: 2rem;
    
            .find-more {
                margin: 1rem;
        
                @include mobile {
                    margin: 0.5rem;
                }
            }
        
            .contact-us {
                padding: 0.675rem 1.25rem;
                border-radius: 0.25rem;
                margin: 1rem;
                border: 2px solid #fff;
                cursor: pointer;
                background-color: transparent;
                color: #fff;
                font-size: 1.125rem;
                // font-weight: bold;
                // text-transform: uppercase;
                text-decoration: none;
                box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    
                &:hover {
                    background-color: #e2e8f0;
                    border-color: #e2e8f0;
                    color: #000;
                }
    
                @include mobile {
                    margin: 0.5rem;
                }
            }
    
            @include mobile {
                display: flex;
            }
    
            @include phone {
                flex-direction: column;
            }
        }
        
        .picture1,
        .picture2,
        .picture3 {
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding-bottom: 1rem;
        }
                
        .picture1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/pic1.jpg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size:  cover;
        }
                
        .picture2 {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../images/pic2.jpg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            @include mobile {
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pic2.jpg);
            }
    
            div {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: end;
    
                @include mobile {
                    margin: 1rem auto;
                    align-items: center;
                }
    
                .title {
    
                    h1 {
                        text-align: end;
    
                        @include mobile {
                            text-align: center;
                        }
                    }
                }
    
                .header-btns {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
    
                    @include mobile {
                        justify-content: center;
                    }
    
                    // @include phone {
                    //     flex-direction: column;
                    // }
                }
            }
        }
                
        .picture3 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/pic3.jpg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    
            @include mobile {
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/pic3.jpg);
            }
    
            div {
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                @include mobile {
                    margin: 1rem auto;
                }
    
                .title {
                    // width: 50%;
    
                    h1 {
                        text-align: start;
    
                        @include mobile {
                            text-align: center;
                        }
                    }
    
                    @include mobile {
                        width: 100%;
                    }
                }
      
                .header-btns {
                    width: 80%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
    
                    // @include mobile {
                    //     flex-direction: column;
                    // }
                }
            }
        }
                
        .active {
            display: flex;
        }
                
        #prev,
        #next {
            position: absolute;
            color: $primary-color;
            padding: 0 2rem;
            font-size: 2rem;
            cursor: pointer;
            background: none;
            border: 0;
            height: 50px;
            display: flex;
            align-items: center;
            top: 47%;
        }
                
        #prev {
            left: 0;
        }
                
        #next {
            right: 0;
        }
                
        #pic1,
        #pic2,
        #pic3 {
            position: absolute;
            left: 50%;
            bottom: 10px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            cursor: pointer;
            border: 0;
        }
                
        #pic1 {
            margin: 0 -20px;
            background-color: $primary-color;
        }
                
        #pic2 {
            margin: 0;
            background-color: $secondary-color;
        }
                
        #pic3 {
            margin: 0 20px;
            background-color: $secondary-color;
        }
    }
}
    
#content {
    #about {
        padding-top: 3rem;
    
        h2 {
            text-align: center;
            color: #000;
            font-size: 3rem;
            text-transform: capitalize;
            // text-transform: uppercase;

            @include mobile {
                font-size: 2.3rem;
            }
        }
    
        p {
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 2rem;
            font-size: 1.2rem;

            @include phone {
                font-size: 1rem;
            }
        }
        
        #about-cards {
            display: flex;
            margin-bottom: 1rem;
    
            @include mobile {
                flex-direction: column;
            }
        
            .card {
                padding: 1.5rem;
                border: 1px solid rgba(0, 0, 0, 0.175);
                border-radius: 0.375rem;
                margin: auto 0.75rem;
                box-shadow: 0 0.5rem 1rem rgba(33,37,41, 0.15);
                background-color: $blue-color;

                // @include background-color-mix;
        
                h3 {
                    color: $primary-color;
                    text-align: center;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                    // text-transform: uppercase;
                    margin-bottom: 1rem;
                    
                    @include phone {
                        font-size: 1.2rem;
                    }
                }

                p {
                    color: $primary-color;
                    padding: 0;
                    font-size: 1rem;
                }

                @include mobile {
                    margin: 0.75rem 0;
                }
            }
        }
    
        .services-card {
            padding: 3rem 0;
            margin-top: 3rem;
            background-color: $blue-color;

            // @include background-color-mix;

            .container {
                h2 {
                    color: $primary-color;
                    text-transform: capitalize;
                    // text-transform: uppercase;
                    margin-bottom: 3rem;

                    @include mobile {
                        margin-bottom: 2rem;
                    }
                }

                .services-cards {
                    display: flex;
                    margin-bottom: 1rem;

                    .card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 2.5rem;
                        border: 1px solid rgba(0, 0, 0, 0.175);
                        border-radius: 0.375rem;
                        margin: auto 0.75rem;
                        box-shadow: 0 0.5rem 1rem rgba(33,37,41, 0.15);
                        background-color: $primary-color;

                        img {
                            width: 100%;
                            padding: 0.25rem;
                            background-color: $primary-color;
                            border: 1px solid $primary-color;
                            border-radius: 0.375rem;
                        }

                        h3 {
                            font-size: 1.5rem;
                            margin-top: 1.2rem;

                            // @include mobile {
                            //     font-size: 1.5rem;
                            // }
                        }

                        p {
                            text-align: center;
                        }

                        @include mobile {
                            margin: 0.75rem 0;
                        }
                    }

                    @include mobile {
                        flex-direction: column;
                    }
                }
            }
        }    
    }  
}
        
#gallery {
    padding: 3rem 0;

    h2 {
        color: #000;
        text-align: center;
        font-size: 3rem;
        text-transform: capitalize;
        // text-transform: uppercase;
        margin-bottom: 1rem;
                
        @include mobile {
            font-size: 2.3rem;
        }
    }

    p {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    #gallery-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        img {
            width: 45%;
            margin: 0.5rem;
            border-radius: 0.375rem;
            box-shadow: 0 0.5rem 1rem rgba(33,37,41, 0.15);
    
            @include mobile {
                width: 100%;
            }
        }
    }

    .detail-button-div {
        margin-top: 1rem;
    }
}

#testimonials {
    padding: 3rem 0;
    background-color: $seventh-color;

    h2 {
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
        // text-transform: uppercase;
        margin-bottom: 3rem;
        color: $primary-color;
                
        @include mobile {
            font-size: 2.3rem;
            margin-bottom: 2rem;
        }
    }

    .testimonials-cards {
        display: flex;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 2.5rem;
            border: 1px solid rgba(0, 0, 0, 0.175);
            border-radius: 0.375rem;
            margin: auto 0.75rem;
            box-shadow: 0 0.5rem 1rem rgba(33,37,41, 0.15);
            background-color: $primary-color;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            h3 {
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
            }

            @include mobile {
                margin: 0.75rem 0;
            }
        }

        @include mobile {
            flex-direction: column;
        }
    }
}
    
#contact {
    padding: 3rem 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/contact-section-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    
    h2 {
        font-size: 3rem;
        text-align: center;
        text-transform: capitalize;
        // text-transform: uppercase;
        margin-bottom: 1rem;
                
        @include mobile {
            font-size: 2.3rem;
        }
    }

    p {
        text-align: center;
        width: 75%;
        margin: 0 auto 1rem auto;
        font-size: 1.2rem;

        @include mobile {
            width: 100%;
            margin: 1rem auto;
            font-size: 1rem;
        }
    }

    h2,
    p {
        color: $black-color;
        // color: $primary-color;
    }
    
    #big-contact {  
        display: flex;
        flex-wrap: wrap;
        
        .contact-card {
            display: flex;
            margin: 1rem 0;
            width: 25%;
            padding-left: 20%;
        
            ion-icon {
                // color: $third-color;
                color: $blue-color;
                margin-right: 5px;       
            }
                    
            @include mobile {
                width: 100%;
                padding-left: 0;
                justify-content: center;
            }
        }
    }
}

#about-page {
    width: 100%;
    margin: auto;

    header {
        height: 75vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/about-page-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:  cover;
        display: flex;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,
            p {
                color: $primary-color;
                text-align: center;
            }
    
            h1 {
                font-size: 5rem;

                @include mobile {
                    font-size: 2.5rem;
                }
            }
    
            p {
                font-size: 1.2rem;
                width: 75%;

                @include mobile {
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }
    }

    #about-content {
        .about-intro {
            padding: 3rem 0;
        }

        h2 {
            color: #000; 
            text-align: center;
            font-size: 3rem;
            text-transform: capitalize;
            // text-transform: uppercase;
            margin-bottom: 1rem;
                                
            @include mobile {
                font-size: 2.3rem;
            }
        }

        .about-intro {
            p:first-of-type {
                margin-bottom: 1.5rem;
            }

            .container {
                display: flex;

                @include mobile {
                    display: block;
                }

                div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                        width: 100%;
                    }

                    p {
                        font-size: 1.2rem;

                        @include mobile {
                            font-size: 1rem;
                        }
                    }

                    a {
                        margin-top: 1.7rem;
                    }

                    img {
                        width: 75%;

                        @include mobile {
                            margin-top: 2rem;
                            width: 50%;
                        }
                    }
                }
            }
        }
                
        .services-card {
            padding: 5rem 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/skills.jpg);
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
                
            h2 {
                color: $primary-color;
            }
                
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                    
                li {
                    width: 25%;
                    font-size: 1.2rem;
                    padding-top: 1.5rem;
                    color: $primary-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                        width: 100%;
                        padding-left: 0;
                        justify-content: center;
                    }

                    ion-icon {
                        color: $primary-color;                           
                        margin-right: 5px;
                    }                   
                }
            }
        }
                
        #testimonials {
            background-color: $primary-color;

            h2 {
                margin-bottom: 2rem;
            }
                
            .card {
                background-color: $seventh-color;

                h3,
                p {
                    color: $primary-color;
                }
            }
        }
    }
}

#gallery-page {
    header {
        height: 75vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/gallery-page-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:  cover;
        display: flex;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,
            p {
                color: $primary-color;
                text-align: center;
            }
    
            h1 {
                font-size: 5rem;

                @include mobile {
                    font-size: 2.5rem;
                }
            }
    
            p {
                font-size: 1.2rem;
                width: 75%;

                @include mobile {
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }
    }

    h3 {
        text-align: center;
        font-size: 3rem;
        color: #000;
        margin-bottom: 1rem;
        text-transform: capitalize;
        // text-transform: uppercase;

        @include mobile {
            font-size: 2.3rem;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    .done-projects {
        background-color: $seventh-color;

        h3,
        p {
            color: $primary-color;
        }
    }

    .works-in-progress,
    .done-projects {
        padding: 3rem 0;
    }

    #gallery-page-card,
    #gallery-page-done {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3rem;

        img {
            width: 45%;
            margin: 0.5rem;
            border-radius: 0.375rem;
            box-shadow: 0 0.5rem 1rem rgba(33,37,41, 0.15);
    
            @include mobile {
                width: 100%;
            }
        }
    }
}

#contact-page {
    header {
        height: 75vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/contact-page-header.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size:  cover;
        display: flex;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1,
            p {
                color: $primary-color;
                text-align: center;
            }
    
            h1 {
                font-size: 5rem;

                @include mobile {
                    font-size: 2.5rem;
                }
            }
    
            p {
                font-size: 1.2rem;
                width: 75%;

                @include mobile {
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }
    }

    h2 {
        color: #000; 
        text-align: center;
        font-size: 3rem;
        margin-bottom: 2rem;
        text-transform: capitalize;
        // text-transform: uppercase;
                
        @include mobile {
            font-size: 2.3rem;
        }
    }

    .contact-form {
        padding: 3rem 0;
        background-color: rgb(248,249,250);

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            // h2,
            // p {
            //     color: $primary-color;
            // }

            p {
                width: 75%;
                text-align: center;
                margin-bottom: 2rem;

                @include mobile {
                    width: 100%;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 50%;

                @include phone {
                    width: 100%;
                }
        
                input,
                textarea {
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    border: 1px solid #dee2e6;
                    margin: 0.5rem 0;
                    outline: 0;
                    border-radius: 0.375rem;
                }
        
                button {
                    margin: auto;
                    margin-top: 1rem;
                }
            }
        }
    }

    #contact-details {
        padding: 3rem 0;

        .container {
            display: flex;
            justify-content: space-around;

            @include phone {
                flex-direction: column;
            }
        }

        #contact-cards {
            .contact-card {
                display: flex;
                padding: 0.5rem;
    
                ion-icon {
                    color: $blue-color;
                    // color: $third-color;
                    margin-right: 5px;                   
                }               
            }            
        }

        #office-hours {
            @include phone {
                margin-top: 1rem;
            }

            h3 {
                padding: 0.5rem;
            }

            ul {
                list-style-type: none;

                li {
                    padding: 0.5rem;
                }
            } 
        }
    }
}

footer {
    text-align: center;
    padding: 30px 0;
    background-color: $blue-color;

    // @include background-color-mix;

    p {
        color: $primary-color;
    }
}
